{# templates/base.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- required meta tags for bootstrap -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    {#    For the footer#}
    <link rel="stylesheet" href="./footer.css">

    <title>{% block  title %}
        EARS
    {% endblock title %}</title>
</head>
<body>
<div class="container">
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center
          justify-content-lg-start">
                <a class="navbar-brand link-secondary fw-bold" href="{% url 'home' %}">Employment Application Review
                    System &middot;&middot;|&middot;&middot; </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center
            mb-md-0">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'joblist' %}" class="nav-link px-2 icon-link-hover">View jobs</a></li>
                        {% if  user.type == 'applicant' %}
                            <li><a href="{% url 'jobapplication_list' %}" class="nav-link px-2 icon-link-hover">Your
                                applications</a></li>
                            <li><a href="{% url 'jobapplication_create' %}" class="nav-link px-2 icon-link-hover">+ New
                                application</a></li>
                        {% endif %}
                        {% if  user.type == 'faculty' %}
                            <li><a href="{% url 'jobapplication_list' %}" class="nav-link px-2 icon-link-hover">View all
                                applications</a></li>
                            <li><a href="{% url 'jobcreate' %}" class="nav-link px-2 icon-link-hover">+ New job-post</a>
                            </li>
                        {% endif %}
                        </ul>
                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle"
                               id="dropdownUser1"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="{% url 'profile' user.pk %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="text-end">
                            <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Log In</a>
                            <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
                        </div>
                    {% endif %}
            </div>
        </div>
    </header>


    <main>
        {% block content %}


        {% endblock content %}
    </main>
</div>

{% for i in "x"|rjust:"8" %}
    <br>
{% endfor %}

<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Developed by:
    <a class="text-body" target="_blank" href="https://github.com/Riju-bak/">Riju-bak</a>
  </div>
  <!-- Copyright -->
</footer>

<!-- Bootstrap JavaScript Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</body>
</html>