{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}, you're a {{ user.type }}</p>
        <p>You can </p>
        {% if user.type == 'faculty' %}
            <p><a href="{% url 'jobapplication_list' %}">View all applications</a></p>
        {% endif %}
        {% if user.type == 'applicant' %}
            <p><a href="{% url 'jobapplication_list' %}">View your applications</a></p>
            <p><a href="{% url 'jobapplication_create' %}">Create a new application</a></p>
        {% endif %}
        <br>
        <a class="link-danger" href={% url "logout" %}>Log Out</a>
    {% else %}
        <p>You aren't logged in</p>
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock content %}