{% extends "base.html" %}

{% block title %} EARS-Job Applications {% endblock title %}

{% block content %}
    {% for jobapplication in jobapplication_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">
                    <a href="{% url 'jobapplication_detail' jobapplication.pk %}">
                        Application for "{{ jobapplication.job.title }}"
                    </a>
                </span> &middot;
                <span class="text-muted"> by {{ jobapplication.author }} | {{ jobapplication.date }}</span>
            </div>
            <div class="card-body">
                {{ jobapplication.body }}
            </div>
            {% if user.type == 'applicant' %}
                <div class="card-footer text-center text-muted">
                    <a href={% url 'jobapplication_edit' jobapplication.pk %}>Edit</a> | <a
                        href={% url 'jobapplication_delete' jobapplication.pk %}>Delete</a>
                </div>
            {% endif %}
        </div>
        <br/>
    {% endfor %}
{% endblock %}

